name: Cleaner Check on Ubuntu

on:
  pull_request:
    branches: [ main ]
    paths:
    - 'cleanup.sh'
  push:
    branches: [ main ]
    paths:
    - 'cleanup.sh'
    - '.github/workflows/check_ubuntu.yml'
  schedule:
    - cron: '1 1 1 * *'
  workflow_dispatch:

jobs:
  cleanup:
    if: github.repository == 'rokibhasansagar/slimhub_actions'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04]

    steps:
      - uses: actions/checkout@v3
        with:
          ref: 'main'
      - name: Raw Environment Checkup
        continue-on-error: true
        env:
          wf_os: ${{matrix.os}}
          state: raw
        run: |
          bash ./.github/checker.sh
      - name: Cleanup Workspace
        uses: rokibhasansagar/slimhub_actions@main
        with:
          retain: "homebrew"
      - name: Clean Environment Checkup
        continue-on-error: true
        env:
          wf_os: ${{matrix.os}}
          state: clean
        run: |
          bash ./.github/checker.sh
